<div class="jumbotron" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url("vw-camper.jpg.webp") %>');">

  <div class="container flex-column">

    <div class="banner d-flex justify-content-between align-items-center">
      <%= image_tag('aircnc-logo.svg', :class => "rounded-5") %>
      <h1 class="mx-5 w-66">
        <span class="display-1">Hire or loan your</span>
        <br>
        <span class="display-3 fst-italic">Campers, Caravans 'n' Cars!</span>
        <br>
        <%= link_to 'Get Started Now', vehicles_path, class: "fs-3 fw-bolder btn btn-success btn-lg text-uppercase" %>
      </h1>

    </div>

  </div>

</div>
