<div class="container col-9">

  <h1 class="display-3 my-5">Hire the <%= "#{@vehicle.make} #{@vehicle.model}?" %></h1>

  <%= render partial: 'shared/rental_form', locals: { vehicle: @vehicle, rental: @rental } %>

</div>
