<div class="container">

  <h1 class="display-3 my-5">All Vehicles</h1>

  <div class="cards">
    <%@vehicles.each do |vehicle| %>
      <h2 class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= vehicle.image_url %>)">
        <%= link_to "#{vehicle.make} #{vehicle.model}", vehicle_path(vehicle), class: "card-category-link" %>
      </h2>
    <% end %>
  </div>

</div>
