// Datepicker
@import "jquery-ui.css";
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


form #charge::before {
  content: "£";
}

.btn {
  color: white;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.card .card-title .lead {
  font-size: small;
  font-weight: 200;
  font-style: italic;
}

.aircnc-form {
  font-size: larger;
}

.jumbotron {
  position: relative;
  background-position: center;
  background-size: cover;

  .container .banner {
    height: 90dvh;
    color: white;
    font-weight: 900;

    h1 {
      text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      .btn {
        margin-top: 35px;
        color: inherit;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

footer {
  height: 300px;
}
