// Datepicker
@import "jquery-ui.css";
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: $body-bg;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar, h1, h2, h3, h4, h5, h6 {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.animate-shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.animate-shadow:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



div.navbar.sticky-top {
  border-bottom: 7px solid $success;
}

.text-nowrap {
  white-space: nowrap;
}

form #charge::before {
  content: "£";
}

.devise-signup-links a {
  color: $gray;
  text-decoration: none;
  font-size: .75rem !important;
  font-style: italic !important;
}

.btn {
  color: white;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.card .card-title .lead {
  font-size: small;
  font-weight: 200;
  font-style: italic;
}

.aircnc-form {
  font-size: 0.75rem !important;
}

.jumbotron {
  position: relative;
  background-position: center;
  background-size: cover;

  .container .banner {
    height: calc(100vh - 66px);
    color: white;
    font-weight: 900;

    h1 {
      text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      .btn {
        margin-top: 35px;
        color: inherit;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

footer {
  margin-top: 75px;
  height: 300px;
}
